<div class = "row">
    <div class = "col-md-2">
    <div id = "side-bar">  
    <h1> Year Groups </h1>
        <a href = "/subjects/?year=7" class = "btn btn-success">Year 7</a>
        <br>
        <br>
        <br>
        <a href = "/subjects/?year=8" class = "btn btn-success">Year 8</a>
        <br>
        <br>
        <br>
        <a href = "/subjects/?year=9" class = "btn btn-success">Year 9</a>
        <br>
        <br>
        <br>
        <a href = "/subjects/?year=10" class = "btn btn-success">Year 10</a>
        <br>
        <br>
        <br>
        <a href = "/subjects/?year=11" class = "btn btn-success">Year 11</a>
        <br>
        <br>
        <br>
        <a href = "/subjects/?year=12" class = "btn btn-success">Year 12</a>
    </div>

    
        <div class = "col-md-2">
         <div class = "nap-style">
            <a href = "https://www.nap.edu.au/" class = "btn btn-info" target = "_blank"> NAPLAN </a>
            <br>
            <br>
            <br>
            <a href = "http://au.mathletics.com/" class = "btn btn-info"> MATHLETICS </a>
            <br>
            <br>
            <br>
            <a href = "http://www.literacyplanet.com/au/" class = "btn btn-info"> LITERACY PLANET </a>
            <br>
            <br>
            <br>
            </div>
        </div>
     </div>
    <div class = "col-md-10">
   <div id = "main-bar">
       <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/mXA4hPCaT7U" frameborder="0" allowfullscreen></iframe>
        </div>
     </div>     
    </div>   
</div> 

